body {
  background-color: hsl(0, 0%, 8%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 14px;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 12%);
  width: 300px;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.img img {
  border-radius: 50%;
  width: 100px;
}
.name {
  margin-bottom: 5px;
}
.address {
  color: hsl(75, 94%, 57%);
  margin-top: 0;
}

.links {
  width: 85%;
}
.links a {
  display: block;
  background-color: hsl(0, 0%, 20%);
  margin: 10px 0;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}








/* Footer */
.attribution { 
  font-size: 11px;
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}